@charset "utf-8";

// CUSTOM
// For dark text light background
$gray                       : #121212 !default; //used most places- changed from #7a8288
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 90%) !default;

$body-color                 : #fafafa !default; 
$background-color           : #fafafa !default;
$code-background-color      : #fafafa !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : $gray !default; //changed from #7a8288
$success-color              : #a3be8c !default;
$warning-color              : #edcb8b !default;
$danger-color               : #bf616a !default;
$info-color                 : #8fa1b3 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;

@import "minimal-mistakes";