<section class="projects">
  {{- $pages := .Data.Pages -}}
  {{- $grouped := $pages.GroupByDate "2006" -}}
  {{- range $grouped -}}
  <h3 class="year-heading">{{ .Key }}</h3>
  <div class="projects-list">
    {{- range .Pages -}}
    <article class="project-preview">
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{- if .Description }}
        <p class="project-description">{{ .Description }}</p>
        {{- end }}
    </article>
    {{- end }}
  </div>
  {{- end }}
</section>