/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace !default;


$global-font-family: $monospace !default;
$header-font-family: $monospace !default;
$caption-font-family: $monospace !default;