/* system typefaces */
$serif: "JetBrains Mono", serif !default;
$sans-serif: "JetBrains Mono", sans-serif !default;
$monospace: "JetBrains Mono", monospace !default;


$global-font-family: $monospace !default;
$header-font-family: $monospace !default;
$caption-font-family: $monospace !default;