/* system typefaces */
$sans-serif: 'Jet Brains Mono NL', sans-serif !default;
$sans-serif-narrow: 'Jet Brains Mono NL', sans-serif !default;

$global-font-family: 'Jet Brains Mono NL', sans-serif !default;
$header-font-family: 'Jet Brains Mono NL', sans-serif !default;
$caption-font-family: 'Jet Brains Mono NL', sans-serif !default;
